<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="app.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="app.Perspective"
            fixed="true"
            icon="icons/alt_about.gif"
            id="app.Perspective"
            name="DEC">
      </perspective>
      <perspective
            class="app.debugPerspective"
            icon="icons/sample.gif"
            id="app.debugPerspective"
            name="Simulation">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="view.CallGraphView"
            id="view.CallGraphView"
            name="APK Call Graph"
            restorable="true">
      </view>
      <view
            class="view.CFGView"
            icon="icons/c.jpg"
            id="view.CFGView"
            name="Function CFG"
            restorable="true">
      </view>
      <view
            class="view.FuncsView"
            id="view.FuncsView"
            name="Function List"
            restorable="true">
      </view>
      <view
            class="view.AdvancedCodeView"
            id="view.AdvancedCodeView"
            name="C Source Code"
            restorable="true">
      </view>
      <view
            class="view.NavigatorView"
            id="view.NavigatorView"
            name="Navigator"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="view.ConsoleFactory"
            label="Output">
      </consoleFactory>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
       <viewerActionBinding
            viewerId="view.NavigatorView">
         <includes>
             <actionExtension pattern="org.eclipse.ui.navigator.resources.*" />
         </includes>
       </viewerActionBinding>
       <viewerContentBinding 
            viewerId="view.NavigatorView">
          <includes>
       	     <contentExtension pattern="org.eclipse.ui.navigator.resourceContent" />		       	      
	     <contentExtension pattern="org.eclipse.ui.navigator.resources.filters.*"/>
             <contentExtension pattern="org.eclipse.ui.navigator.resources.linkHelper"/>
             <contentExtension pattern="org.eclipse.ui.navigator.resources.workingSets"/>
          </includes>
       </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="editor.asm.ASMEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="asm,java"
            icon="icons/sample.gif"
            id="editor.asm.ASMEditor"
            name="ASM Editor">
      </editor>
   </extension> >
</plugin>
